.about-title {
  display:inline-block;
  font-size: 4rem;
  font-weight: 200;
  color: #fff;
  padding: 2rem 4rem;
  border: 0.4rem solid #fff;
  border-radius: 2rem;
  text-transform: uppercase;
  animation: flicker 1.5s infinite alternate;
}

.about-title::-moz-selection {
  background-color: var(#08f);
  color: var(#f40);
}

.about-title::selection {
  background-color: var(#08f);
  color: #f40;
}

@keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    
		text-shadow:
				-0.2rem -0.2rem 1rem #fff,
				0.2rem 0.2rem 1rem #fff,
				0 0 2rem #f40,
				0 0 4rem #f40,
				0 0 6rem #f40,
				0 0 8rem #f40,
				0 0 10rem #f40;
		
		box-shadow:
				0 0 .5rem #fff,
				inset 0 0 .5rem #fff,
				0 0 2rem #08f,
				inset 0 0 2rem #08f,
				0 0 4rem #08f,
				inset 0 0 4rem #08f;        
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
      box-shadow: none;
  }    
}

.about-container {      
  display:flex;
  justify-content: center;
  align-items:center;
}

.about-card {
  width:80%;
  padding: 50px 0 50px 0 }

.about-container .about-card {
  transform-origin:center;
  transform:perspective(1000px) rotateY(-25deg);
  transition:0.5s; }
  @media (max-width: 991.98px) {
    .about-container {
      justify-content: center;
    }
    .about-card {
      padding-top: 0
    }
    .about-container .about-card {
      transform: none
    }
  }

.progress {
	height: 5px
}

.idle-sprite {
  display:flex;
  justify-content:center;
  align-items:center;
}
.idle-sprite img {
  width: auto; }

.about-container:hover .about-card {
  opacity:0.8;
}
.about-container .about-card:hover {
  transform:perspective(1000px) rotateY(0deg);
  opacity:1;
}

.about-container .card {
  background-color: #111111
}
.about-container .card .list-group-item {
  color: inherit;
  background-color: inherit
}