.home-content {
	height: 100vh;
	text-align: center; }
	
.grid-bg {
	background: url(../images/gridme.png) repeat 0 0;
	-webkit-animation: bg-scrolling-reverse .92s infinite; /* Safari 4+ */
	-moz-animation:    bg-scrolling-reverse .92s infinite; /* Fx 5+ */
	-o-animation:      bg-scrolling-reverse .92s infinite; /* Opera 12+ */
	animation:         bg-scrolling-reverse .92s infinite; /* IE 10+ */
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function:    linear;
	-o-animation-timing-function:      linear;
	animation-timing-function:         linear; }
		
	@-webkit-keyframes bg-scrolling-reverse {
	100% { background-position: 50px 50px; }
	}
	@-moz-keyframes    bg-scrolling-reverse {
	100% { background-position: 50px 50px; }
	}
	@-o-keyframes      bg-scrolling-reverse {
	100% { background-position: 50px 50px; }
	}
	@keyframes         bg-scrolling-reverse {
	100% { background-position: 50px 50px; }
	}
	
	@-webkit-keyframes bg-scrolling {
	0% { background-position: 50px 50px; }
	}
	@-moz-keyframes    bg-scrolling {
	0% { background-position: 50px 50px; }
	}
	@-o-keyframes      bg-scrolling {
	0% { background-position: 50px 50px; }
	}
	@keyframes         bg-scrolling {
	0% { background-position: 50px 50px; }
}

.page-header {
	padding-top: 200px }

.page-title {
	font-family: 'Arcade', sans-serif;
	font-size: 2rem;
	color:#000;
	animation: arcadetext 1.5s ease-in-out infinite alternate; }

	@media (min-width: 768px) {
		.page-title {
			font-size: 3rem; } }
			
	@media (min-width: 992px) {
		.page-title {
			font-size: 5rem; } }
	
	@keyframes arcadetext {
	from {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #31CB00,
			0 0 70px #31CB00, 0 0 80px #31CB00, 0 0 100px #31CB00, 0 0 150px #31CB00;
	}
	to {
		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #31CB00,
			0 0 35px #31CB00, 0 0 40px #31CB00, 0 0 50px #31CB00, 0 0 75px #31CB00;
	}
}