.arcade-floor {
	padding-top: 100px;
	}
	
	.card-cabinet {
	border: none;
	width: 275px;
	margin-top: -100px;
	}

	.cabinet-header {
	padding: 0;
	border-bottom:0;
	height: 100px;
	display:flex; 
	flex-wrap: nowrap; }
	.arcade-title {
		text-align: center;
		font-family: "Stereofidelic";
		font-size: 48px;
		line-height: 1;
		color: #000;
		background-color:#31CB00;
		width: 60%; }
		.title-shadow {
			width: 40%;
			background-color:green;
		}
	
	.cabinet-body {
	text-align: center;
	padding:0;
	background-color: green }
	.portfolio-preview-img {
		width: 140px;
		height: 140px;
		background-color: green; }
		.portfolio-preview-img:hover {
			box-shadow: 0 0 15px 15px white; 
		}
	
	.cabinet-footer {
	padding: 0;
	border-top:0;
	height: 300px;
	display:flex; 
	flex-wrap: nowrap; }
	.cabinet-footerL {
		background-color: #31CB00;
		width: 60%; }
		.cabinet-footerR {
			background-color: green;
			width: 40%
		}