@font-face {
  font-family: "Dimitri";
  src: url("../fonts/dimitri/DIMITRI_.TTF") format("truetype"); }

@font-face {
	font-family: "Digital Disorder";
	src: url("../fonts/digital_disorder/DigitalDisorder.ttf") format("truetype"); }

@font-face {
	font-family: "Caviar Dreams";
	src: url("../fonts/caviar_dreams/CaviarDreams.ttf") format("truetype"); }

:root div[class$="default"] {
  --bg-primary: #191919;
  --color-primary: #eee;
  --title-font-primary: "Dimitri", sans-serif;
  --title-font-secondary: "Digital Disorder", sans-serif;
  --p-font-family: "Caviar Dreams", sans-serif;
  --card-bg: #222222;
  --card-color: #eee;
  --card-radius: 16px;

}

.theme-default .header-nav {
  background: #131313;
  box-shadow: 0px 1px 2px rgba(126, 15, 255, 0.5), 
              0px 2px 4px rgba(126, 15, 255, 0.5), 
              0px 4px 8px rgba(126, 15, 255, 0.5), 
              0px 8px 16px rgba(126, 15, 255, 0.5);
}

/* .theme-default .banner {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20vw;
  background-size: 100%;
  transform: translate(0, 100%);
  background-image: url('../images/tarot-divider.svg');
  background-repeat: no-repeat
} */


.theme-default .banner {
  position: relative;
  background-color: #01031A;
	color: var(--card-color);
}

.theme-default .banner .hero {
	display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
	height: 100%;
	width: 100%;
	text-align: center;
	overflow: hidden;
  background: 
    radial-gradient(
      farthest-side at top left,
      rgb(37, 0, 255, 0.5),
      transparent 800px
    ),
    radial-gradient(
      farthest-corner at bottom right,
      rgb(218, 0, 255, 0.5),
      transparent 1000px
    );
    -webkit-animation: neon-lights 5s ease infinite;
    -moz-animation: neon-lights 5s ease infinite;
    animation: neon-lights 5s ease infinite;
}

.theme-default .banner .neon-lights-top,
.theme-default .banner .neon-lights-bot {
  position: absolute;
  background-size: contain;
  height: 50%;
}

@media (min-width: 1200px) { 
  .theme-default .banner .neon-lights-top,
  .theme-default .banner .neon-lights-bot {
    height: 70%;
  }
}

.theme-default .banner .neon-lights-top {
  top: 0;
  left: 0;
  -webkit-filter: drop-shadow(0 0 7px #00CFFF);
  filter: drop-shadow(0 0 7px #00CFFF);
}

.theme-default .banner .neon-lights-bot {
  bottom: 0;
  right: 0;
  background-position: right bottom;
  -webkit-filter: drop-shadow(0 0 7px #DA00FF);
  filter: drop-shadow(0 0 7px #DA00FF);
}

.theme-default .banner .hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  background-color: #1D1E22;
  box-shadow: .8rem .8rem #000;
}

.theme-default .banner .hero-text h1 {
  font-family: var(--title-font-secondary);
  color: var(--card-color);
  text-shadow: 3px 3px #000;
}

.theme-default #about {
  margin-top: 3rem;
  margin-bottom: -3rem
}

@media (min-width: 992px) { 
  .theme-default #about { margin-bottom: -8rem }
 }

@media (min-width: 1400px) { 
  .theme-default #about { margin-bottom: -15rem }
}

.theme-default .about-image {
  display: none;
}

.theme-default #about .card:first-child { margin-bottom: 2rem }

.theme-default ul.socials {
  border-radius: 2px;
  border: 1px solid #111;
  border-color: #111 #323232 #323232 #111;
}

.theme-default ul.socials li {
  color: var(--card-color);
  background: rgb(28,28,28);
  background: linear-gradient(0deg, rgba(28,28,28,1) 50%, rgba(31,31,31,1) 50%);
  border-color: #111;
}

.theme-default .socials li:hover {
  filter: brightness(1.5);
  transition: var(--t1); 
}

.theme-default #work > div {
	background-color: #0a0a0a
}

.theme-default .work-divider-top {
  display: block;
  visibility: visible;
	margin-bottom: -5px;
	padding: 0 }
.theme-default .work-divider-bot {
  display: block;
  visibility: visible;
	margin-top: -5px;
	padding: 0 }

.theme-default #contact {
	margin-top: -2rem;
	margin-bottom: 3rem;
}

@media (min-width: 1200px) { 
	.theme-default #contact { margin-top: -6rem; }
}

.theme-default #contact .btn {
  position: relative;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  text-decoration:none;

  padding: 0.5em 1.5em;
  margin: 0.5em;
  line-height: 20px;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;

  cursor: pointer;
  width: 200px;
  height: 40px;

  background: linear-gradient(
    170deg,
    rgba(255,255,255,0.8) 0%,
    rgba(255,255,255,0.6) 20%,
    rgba(255,255,255,0.1) 50%,
    rgba(0,0,0,0.0) 50%,
    rgba(0,0,0,0.0) 100%
  ); 
  border-color: rgba(255, 255, 255, 0.4);
  border-image: none;
  border-style: inset;
  border-width: 1px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;

  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;

  outline: 0;
}

.theme-default #contact .btn:active {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important; 
}

.theme-default #contact .btn:hover {
  color: #fff;
  background: 
  linear-gradient(
    170deg,
    rgba(255,255,255,0.8) 0%,
    rgba(255,255,255,0.6) 20%,
    rgba(255,255,255,0.1) 50%,
    rgba(0,0,0,0.0) 50%,
    rgba(0,0,0,0.0) 100%
  ),
  radial-gradient(
    ellipse at center,
    rgba(255,255,255,.5) 0%,
    rgba(255,255,255,0) 100%
  );
  box-shadow: 0 0 18px 3px rgba(105, 33, 240, 0.5);
  border: 2px groove rgba(255,255,255,0.5);
}




/* .theme-default #contact .btn.theme-default #contact .btn:active {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important; 
}

.theme-default #contact .btn {
position: relative;
color: rgba(255, 255, 255, 0.6);
font-size: 26px;
margin: 0.5em;
cursor: pointer;
background-color: rgba(0, 0, 0, 0.25);
background: linear-gradient(
  170deg,  
  rgba(255,255,255,0.9) 0%,
  rgba(255,255,255,0.7) 20%,
  rgba(255,255,255,0.2) 55%,
  rgba(0,0,0,0.0) 56%,
  rgba(0,0,0,0.0) 100%
); 
border-color: rgba(255, 255, 255, 0.2);
border-image: none;
border-style: groove;
border-radius: 35px;
border-width: 3px;
border-bottom-width: 2px;
}

.theme-default #contact .btn:hover {
  color: #000;
  background: radial-gradient(
    ellipse at center,
    rgba(255,255,255,1) 0%,
    rgba(255,255,255,0) 100%
  );
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 6px 3px rgba(255,255,255,0.5);
}
 */


.theme-default .card-title {
  font-family: var(--title-font-primary);
  font-size: 3rem;
  color: #fff;
  text-shadow:6px 6px #000 
}

.theme-default .contact-title-img {
  height: 20vh
}


/* .theme-default .card .card-body:not(.slide *) {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #222222;
  border-radius: 16px;
  z-index: 1;
  position: relative;
  border: 3px solid transparent;
  background-clip: padding-box;
  text-align: center;
  color: #f1f3f3;
  background-image: linear-gradient(135deg, rgba(117, 46, 124, 0.35), rgba(115, 74, 88, 0.1) 15%, #222222 20%, #222222 100%);
}

.theme-default .card .card-body:not(.slide *)::before {
  content: "";
  display: block;
  top: -3px;
  left: -3px;
  bottom: -3px;
  right: -3px;
  z-index: auto;
  position: absolute;
  border-radius: 16px;
  background-image: linear-gradient(135deg, #752e7c, #734a58 20%, #222222 30%, #2c333e 100%);
} */

.theme-default .card:not(.slide .card) {
  text-align: center;
  color: var(--card-color);
  background-color: var(--card-bg);
  border-radius: var(--card-radius);
  border: 0;
  box-shadow: -5px -5px 9px rgba(75, 75, 75, 0.45), 5px 5px 9px rgba(0,0,0,0.3);
}

.theme-default .slide .card {
  position: relative;
  background-color: var(--card-bg);
  border-radius: var(--card-radius);
  animation: textColor 10s ease infinite;
}

.theme-default .slide .card .card-body {
  background-color: var(--card-bg);
  width: 100%;
  border-radius: var(--card-radius);
}

.theme-default .slide .card::after {
  position: absolute;
  content: "";
  top: 3vw;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.75);
  -webkit-filter: blur(5vw);
  -moz-filter: blur(5vw);
  -ms-filter: blur(5vw);
  filter: blur(5vw);
  background: linear-gradient(270deg, #0fffc1, #7e0fff);
  background-size: 200% 200%;
  animation: animateGlow 10s ease infinite;
}

.theme-default .btn {
  border-radius: 30px;
}


.theme-default .form-control {
  height: 3.3rem;
  padding: 0.5rem 3.5rem;
  background: rgb(28,28,28);
  background: linear-gradient(0deg, rgba(28,28,28,1) 50%, rgba(31,31,31,1) 50%);
  border: 1px solid #111;
  border-color: #111 #323232 #323232 #111;
  border-radius: 2rem;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
}

.theme-default .form-control:focus {
  color: var(--card-color);
  background-color: #f2f6f8;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
}

.theme-default input::placeholder {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  color: #57565c;
  position: relative;
  left: 0;
}

.theme-default input,
.theme-default textarea {
  font-family: "Quicksand", sans-serif;
  color: #fff;
  font-size: 1.1rem;
}

.theme-default .label {
  display: none;
}

.theme-default .input-container .icon {
  color: #57565c;
  height: 1.3rem;
  position: absolute;
  left: 1.5rem;
  top: 1.1rem;
  z-index: 10;
  transition: var(--t1)
}

.theme-default .form-control:focus + label .icon,
.theme-default .form-control:valid + label .icon {
  color: #6f42c1;
}

.theme-default .form-control:not(:focus):not(:placeholder-shown):invalid + label .icon {
  color: #FF0000;
}

.theme-default .slide__image {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}


.theme-default ul.skills {
  width: 100%;
  position: relative;
  padding: 25px 35px;
}

.theme-default ul.skills li {
  --per: 50;
  --dur: calc(calc(var(--per) / 100) * 1.5s);
  margin: 0 0 5px 0;
  list-style: none;
  padding: 0 0 40px 0;
  position: relative;
  text-transform: uppercase;
  font-size: 15px;
  color: #eee; }
    .theme-default ul.skills li:hover {
      filter: brightness(1.5);
      transition: var(--t1); }

.theme-default ul.skills li:before {
  content: "";
  position: absolute;
  right: -10px;
  top: 50px;
  transition: var(--t1);
  border: 7px solid #fff0;
  z-index: 1;  }
    .theme-default ul.skills li:hover:before {
      transition: var(--t1);
      right: calc(calc(calc(100 - var(--per)) * 1%) - 12px);
      opacity: 1; }
        .theme-default ul.skills li:nth-child(1n):hover::before {
          border-right-color: #FF0000; }
        .theme-default ul.skills li:nth-child(2n):hover::before {
          border-right-color: #DA00FF; }
        .theme-default ul.skills li:nth-child(3n):hover::before {
          border-right-color: #7E0FFF; }
        .theme-default ul.skills li:nth-child(4n):hover::before {
          border-right-color: #2500FF; }
        .theme-default ul.skills li:nth-child(5n):hover::before {
          border-right-color: #53FF4B; }
        .theme-default ul.skills li:nth-child(6n):hover::before {
          border-right-color: #00CFFF; }

.theme-default ul.skills li:after {
  position: absolute;
  right: -40px;
  top: 42px;
  transition: var(--t1);
  counter-reset: percent var(--per);
  content: counter(percent);
  color: #222;
  opacity: 1 !important;
  padding: 4px 6px;
  border-radius: 1px;
  font-weight: bold;
  pointer-events: none;
  z-index: 2; }
    .theme-default ul.skills li:hover:after {
      color: #fff;
      transition: var(--t1);
      right: calc(calc(85 - var(--per)) * 1%);
      right: calc(calc(calc(100 - var(--per)) * 1%) - 40px);
      opacity: 1; }
        .theme-default ul.skills li:nth-child(1n):hover::after {
          background: #FF0000; }
        .theme-default ul.skills li:nth-child(2n):hover::after {
          background: #DA00FF; }
        .theme-default ul.skills li:nth-child(3n):hover::after {
          background: #7E0FFF; }
        .theme-default ul.skills li:nth-child(4n):hover::after {
          background: #2500FF; }
        .theme-default ul.skills li:nth-child(5n):hover::after {
          background: #53FF4B; }
        .theme-default ul.skills li:nth-child(6n):hover::after {
          background: #00CFFF; }

.theme-default .progress-bar {
  content: "";
  position: absolute;
  background: rgb(28,28,28);
  background: linear-gradient(0deg, rgba(28,28,28,1) 50%, rgba(31,31,31,1) 50%);
  height: 40px;
  width: 100%;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  border: 1px solid #111;
  border-color: #111 #323232 #323232 #111;
}

.theme-default .progress {
  height: 100%;
  width: calc(calc(var(--per) * 1%) - 2px);
  overflow: hidden;
  background: transparent;
  background-position: center;
  background-size: contain
}

.theme-default .skills li:nth-child(1n) .progress {
  background-image: url('../images/equalizer-red.gif'); }
.theme-default .skills li:nth-child(2n) .progress {
  background-image: url('../images/equalizer-pink.gif'); }
.theme-default .skills li:nth-child(3n) .progress {
  background-image: url('../images/equalizer-purple.gif'); }
.theme-default .skills li:nth-child(4n) .progress {
  background-image: url('../images/equalizer-blue.gif'); }
.theme-default .skills li:nth-child(5n) .progress {
  background-image: url('../images/equalizer-green.gif'); }
.theme-default .skills li:nth-child(6n) .progress {
  background-image: url('../images/equalizer-cyan.gif'); }


.theme-default footer {
	color: #fff;
	background-color: #7E0FFF;
	font-size: 1.6rem;
	font-weight: bold
}

.theme-default .footer-divider {
  background: url("../images/footer-divider.svg") repeat-x;
  background-position: center bottom;
}

.theme-default .loader {
  width: 100px;
  height: 40px;
  --g: radial-gradient(farthest-side,#0000 calc(95% - 3px),#fff calc(100% - 3px) 98%,#0000 101%) no-repeat;
  background: var(--g), var(--g), var(--g);
  background-size: 30px 30px;
  animation: l9 1s infinite alternate;
}