#header {
  display: flex;
  position: fixed;
  top: 0;
  height: 56px;
  width: 100%;
  z-index: 1030;
  transition: visibility 0.2s, opacity 0.2s ease;
}

.header-nav.visible {
  visibility: visible;
  opacity: 1;
}

.header-nav.hidden {
  visibility: hidden;
  opacity: 0;
}

.navbar-nav .nav-link,
.navbar-nav .nav-link.active {
	color: #fff !important;
  font-family: var(--title-font-primary);
  font-size: 1.4rem
}

@media (max-width: 767.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; 
    bottom: 0;
    left: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #000;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}