.sidebar {
	position: fixed;
	z-index: 1000;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100vh;
	width: 160px;
	overflow-y: auto;
	background-color: #141414;
	border-right: 1px solid #363636 }

.sidebar + .content-wrapper {
	transition: all 0.2s ease;
	margin-left: 160px; }

@media (prefers-reduced-motion: reduce) {
	.sidebar + .content-wrapper {
	transition: none; } }
	
@media screen and (max-width: 992px) {
	.sidebar {
		-ms-flex-direction: row;
		flex-direction: row;
		height: 60px;
		width: 100%;
		overflow-y: hidden;
	} }
	
	.sidebar-header {
	text-align: center; }
	@media screen and (max-width: 992px) {
		.sidebar-header {
			display: none
		}
	}
	
	.sidebar-image {
	max-width: 100%;
	border: 3px solid black; }
	
	.sidebar-container {
	width: 100%; }
	
	.side-nav {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	@media screen and (min-width: 992px) {
		.side-nav {
			flex-direction: column
		}
	}
	
	.side-nav .side-nav__item {
	width: 100%;
	padding: .6rem 1rem;
	border-bottom: 1px solid #363636; }
	
	.side-nav, .header-nav {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0; }
	
	.side-nav__text {
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	flex: 1;
	-ms-flex: 1; }
	
	.side-nav__link {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	padding: 10px 0;
	line-height: 1.2;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	color: #F3EFF5;
	font-size: 12px;
	transition: all 0.3s ease; }

.side-nav__link .icon,
.side-nav__link i {
	margin-right: 12px; }
	
.side-nav__link:hover, .side-nav__link:focus, .side-nav__link:active {
	color: #31CB00;
	text-decoration: none; }

	.side-nav__link .active {
		color: #31CB00;
		text-decoration: none; }