html,
body {
  overflow-x: hidden; /* prevent scroll on narrow devices */
}

#root > div[class^="theme"] {
  background-color: var(--bg-primary);
}

:root {
	--t1: all 0.5s ease 0s;
}

a:link {
  font-weight: bold;
  color: #a235fc;
  text-decoration: none;
  transition: color .2s ease-in-out
}

a:visited {
  color: #a235fc;
}

a:hover {
  color: #ca89ff;
}

a:active {
  color: #dfb8ff;
}

p {
  font-family: var(--p-font-family);
  font-weight: bold;
  font-size: 1.4rem;
}

.theme-tarot {
  background-color: #00073A;
  border-image-slice: 55 52 60 52;
  border-image-width: 60px 60px 60px 60px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: round repeat;
  border-image-source: url('../images/tarot-border.svg');
  min-height: 100vh;
}



/***************************/
/****** home section ******/
/***************************/

.banner {
  height: 90vh;
	position: relative;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
}

.main {
	position: fixed;
	top: 0;
	left: 0;
	font-family: 'Press Start 2P', cursive;
	color: #fff;
	font-size: 2rem;
	width: 100vw;
	height: 100vh;
	background: #2b52ff;
}



/* .hero {
  background: linear-gradient(#041749 calc(50% + 1.5em), #062779 calc(50% + 2.5em) calc(50% + 10.5em), #041749);
  position: relative;
  overflow: hidden;
  perspective: 800px;
  transform-style: preserve-3d;
}
.hero, .hero:before {
  width: 100%;
  height: 100%;
}
.hero:before, .hero__sphere, .hero__sphere-shadow {
  position: absolute;
}
.hero:before, .hero__sphere-shadow {
  display: block;
}
.hero:before {
  background: 
          linear-gradient(
            #062779, 
            #06277900),
          radial-gradient(100% 100% at 50% 50%, 
            #06277900 37.5%, 
            #062779 50%),
          repeating-linear-gradient(0deg, 
            #0837aa00 0 0.95em, 
            #0837aa 0.95em 1em), 
          repeating-linear-gradient(90deg, 
            #0837aa00 0 0.9em, 
            #0837aa 0.9em 1em) 5em 0
            ;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateX(90deg) translateZ(-4em);
  width: 100em;
  height: 60em;
} */


/***************************/
/****** about section ******/
/***************************/

#about {
  position: relative;
  z-index: 5;
}

#about > div {
  display: flex;
  flex-direction: column;
}

#about > .about-column-left {
  justify-content: flex-end;
  align-items: center;
}

#about > .about-column-right {
  justify-content: flex-end;
}

@media screen and (min-width: 1200px) {
  #about > .about-column-left {
    justify-content: space-between;
  }
}

.about-column-left .socials {
  display: flex;
  visibility: visible;
}

.about-column-right .socials-card {
  display: none;
  visibility: hidden;
}

#about h1 {
  font-family: var(--title-font-primary);
  font-size: 4rem;
  color: var(--card-color);
  text-shadow: 6px 6px #000;
}

#about h4 {
  font-family: var(--title-font-secondary);
  font-size: 2.5rem;
}

ul.socials h6 {
  padding-right: 1rem;
  font-weight: bold;
  font-size: 1.4rem
}

ul.socials li {
  line-height: 1.2
}

ul.socials li h6 {
  color: var(--card-color)
}

ul.socials li a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%
}

ul.socials li a:link,
ul.socials li a:visited {
  font-weight: bold;
  color: #a235fc;
  text-decoration: none;
  transition: color .2s ease-in-out
}

ul.socials li:nth-child(2n) a:link,
ul.socials li:nth-child(2n) a:visited {
  color: #ca89ff;
}

ul.socials li:nth-child(3n) a:link,
ul.socials li:nth-child(3n) a:visited {
  color: #dfb8ff;
}



/***************************/
/****** work section ******/
/***************************/

#work {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
}

#work h1 {
  color: var(--card-color);
  font-family: var(--title-font-secondary);
  font-size: 4.4rem;
  text-align: center;
}

.work-divider-top,
.work-divider-bot {
  display: none;
  visibility: hidden;
}

/***************************/
/***** contact section *****/
/***************************/

#contact {
  position: relative;
	display: flex;
  justify-content: center;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
  z-index: 5
}

#contact .card .card-body {
  flex-direction: column;
  align-items: center;
}

#contact .card .card__image {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 5px solid #272133;
  background-color: rgb(0,0,0,.2);
  margin-top: 20px;
  box-shadow: 0 0 50px rgb(151, 25, 235);
  object-fit: scale-down;
}

.card-title {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  font-weight: bold;
  letter-spacing: .4rem;
	height: fit-content;
}

.contact-title-img {
  object-fit: cover
}

.flip {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.card input[type=textarea] {
  height: auto;
}

.card input[type=textarea]::placeholder {
}


/***************************/
/******* buttons *******/
/***************************/

.btn {
  overflow: hidden;
  cursor: pointer;
  position: relative;
  z-index: 10;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
  border: none;
  padding: 0 16px;
  white-space: nowrap;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  color: #ddd;
  background-image: none;
  background-color: #6f42c1;

-webkit-border-radius: 2px;
   -moz-border-radius: 2px;
        border-radius: 2px;

-webkit-box-shadow: none;
   -moz-box-shadow: none;
        box-shadow: none;

-webkit-transition: all 0.2s ease;
   -moz-transition: all 0.2s ease;
     -o-transition: all 0.2s ease;
        transition: all 0.2s ease;

-ms-touch-action: manipulation;
    touch-action: manipulation;

-webkit-user-select: none;
   -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;

-webkit-backface-visibility: hidden;
        backface-visibility: hidden;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
}

.btn:hover,
.btn:focus,
.btn.focus {
  color: #fff;
  background-color: #a235fc;
  text-decoration: none;
}

.btn:active,
.btn.active,
.btn:first-child:active {
  color: #dddddd;
  background-color: #7e19d1;
  outline: 0;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

/***************************/
/********* inputs **********/
/***************************/

.card .input-container {
  position: relative;
}

.card input,
.card textarea {
  position: relative;
  width: 100%;
  padding-top: 1rem;
  border: 0;
  font-size: 1.2rem;
  font-weight: 400;
}

.card input:focus,
.card textarea:focus
.card .form-control:focus {
  outline: none !important;
}

/***************************/
/******** skills *********/
/***************************/

ul.skills {
  list-style: none;
  padding-left: 0;
}

ul.skills li div:first-child {
  font-family: var(--title-font-primary);
  font-size: 1.6rem
}


/*** Mobile view disabled to get (almost) the desired thumbnail ***/
/*** Uncomment below code to add the media query for mobile view ***/

/*
@media only screen and (max-width: 768px) {
  .content { height: 60vh; }
  ul.skills li:after {
    width: calc(calc(var(--per) * 1%) - 2px);
  }
  ul.skills li span:before {
    transition: var(--t1);
    right: calc(calc(96.5 - var(--per)) * 1%);
    opacity: 1;
    border-right-color: #2187e7;
  }
  ul.skills2 li span:before {
    border-right-color: #9acd32;
  }
  ul.skills3 li span:before {
    border-right-color: #ff4500;
  }
  ul.skills li span:after {
    transition: var(--t1);
    right: calc(calc(calc(100 - var(--per)) * 1%) - 40px);
    opacity: 1;
    background: var(--c1);
  }
}
*/

/***************************/
/******* animations ********/
/***************************/

@keyframes banner {
	0% {
		background-position: 45% 100%, 50% 20%, 100%, 0% 50%;
	}
	50% {
		background-position: 45% 100%, 50% 20%, 100%, 100% 50%;
	}
	100% {
		background-position: 45% 100%, 50% 20%, 100%, 0% 50%;
	}
}

@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes textColor {
  0% {
    color: #7e0fff;
  }
  50% {
    color: #0fffc1;
  }
  100% {
    color: #7e0fff;
  }
}

@-webkit-keyframes animate-positive{
  0% { width: 0; }
}

@keyframes animate-positive{
  0% { width: 0; }
}

@-webkit-keyframes fadeIn {
	0% { opacity:0; }
	66% { opacity:0; }
	100% { opacity:1; }
}

@keyframes fadeIn {
	0% { opacity:0; }
	66% { opacity:0; }
	100% { opacity:1; }
}

