@font-face {
  font-family: "Supersonic Rocketship";
  src: url("../fonts/supersonicrocketship/SupersonicRocketship.ttf") format("truetype"); }

@font-face {
  font-family: "November Rain";
  src: url("../fonts/november_rain/November\ Rain.ttf") format("truetype"); }

@font-face {
  font-family: "Super Reduce";
  src: url("../fonts/super_reduce/Super\ Reduce.ttf") format("truetype"); }

@font-face {
  font-family: "Beato";
  src: url("../fonts/beato_headline/Beato-ExtraBoldHeadline.otf") format("opentype"); }
 
@font-face {
  font-family: "The 2k12";
  src: url("../fonts/the_2k12/The\ 2K12.ttf") format("truetype"); }
   
@font-face {
  font-family: "Dimitri";
  src: url("../fonts/dimitri/DIMITRI_.TTF") format("truetype"); }

  @font-face {
    font-family: "Digital Disorder";
    src: url("../fonts/digital_disorder/DigitalDisorder.ttf") format("truetype"); }
  
:root {
	--t1: all 0.5s ease 0s;
}

:root div[class$="default"] {
  --bg-primary: #191919;
  --color-primary: #eee;
  --title-font-primary: "Dimitri", sans-serif;
  --title-font-secondary: "Digital Disorder", sans-serif;
  --card-bg: #222222;
  --card-color: #eee;
  --card-radius: 16px;

}

:root div[class$="space"] {
  --bg-primary: #1D1E22;
  --color-primary: #eee;
  --title-font-primary: "Supersonic Rocketship", sans-serif;
  --title-font-secondary: "November Rain", sans-serif;
  --card-bg: #35363B;
  --card-color: #eee;
  --card-radius: .25rem;

}

:root div[class$="vaporwave"] {
  --bg-primary: #da85db;
}

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

#root > div {
  background-color: var(--bg-primary);
}

#root > div.theme-vaporwave {
  background: 
    linear-gradient(0deg, rgba(14,12,162,.75) 0%, rgba(76,57,184,.75) 24%, rgba(218,133,219,.75) 88%) no-repeat,
    linear-gradient(rgb(68, 76, 247, .75) 1px, transparent 1px) repeat, 
    linear-gradient(to right, rgb(68, 76, 247, .75) 1px, transparent 1px) repeat;
  background-size: 
    cover, 
    40px 40px, 
    40px 40px;
}

/* div.theme-vaporwave::after {
  content: "";
  background-color: transparent;
  opacity: 0.8;
  background-image:  linear-gradient(#444cf7 1px, transparent 1px), linear-gradient(to right, #444cf7 1px, transparent 1px);
  background-size: 40px 40px;
} */

a:link {
  font-weight: bold;
  color: #a235fc;
  text-decoration: none;
  transition: color .2s ease-in-out
}

a:visited {
  color: #a235fc;
}

a:hover {
  color: #ca89ff;
}

a:active {
  color: #dfb8ff;
}

.theme-tarot {
  background-color: #00073A;
  border-image-slice: 55 52 60 52;
  border-image-width: 60px 60px 60px 60px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: round repeat;
  border-image-source: url('../images/tarot-border.svg');
  min-height: 100vh;
}

.header-nav {
	display: flex;
  justify-content: flex-end;
  visibility: hidden;
  height: 56px;
  opacity: 0;
	align-items: center;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
	padding: 0.5rem 0;
	color: #fff;
  background: rgb(50,0,191);
  background: -moz-linear-gradient(top,  rgba(50,0,191,1) 0%, rgba(90,30,188,1) 4%, rgba(111,66,193,1) 35%, rgba(111,66,193,1) 67%, rgba(90,30,188,1) 92%, rgba(57,13,188,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(50,0,191,1) 0%,rgba(90,30,188,1) 4%,rgba(111,66,193,1) 35%,rgba(111,66,193,1) 67%,rgba(90,30,188,1) 92%,rgba(57,13,188,1) 100%);
  background: linear-gradient(to bottom,  rgba(50,0,191,1) 0%,rgba(90,30,188,1) 4%,rgba(111,66,193,1) 35%,rgba(111,66,193,1) 67%,rgba(90,30,188,1) 92%,rgba(57,13,188,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3200bf', endColorstr='#390dbc',GradientType=0 );  
	transition: visibility 0s, opacity 0.2s linear;
}

.navbar-nav .nav-link {
	color: #b07edf;
  font-family: var(--title-font-primary);
  font-size: 1.4rem
}

.navbar-nav .nav-link:hover {
	color: #dacdf5
}

.navbar-nav .nav-link.active {
	color: #eee7fd
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #000;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

/***************************/
/****** home section ******/
/***************************/

/* .theme-default .banner {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20vw;
  background-size: 100%;
  transform: translate(0, 100%);
  background-image: url('../images/tarot-divider.svg');
  background-repeat: no-repeat
} */

.banner {
  height: 90vh;
	position: relative;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
}

.theme-vaporwave .banner {
  width: 100vw;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-perspective-origin: top center;
          perspective-origin: top center;
}

.theme-vaporwave .banner .hero {
  position: relative;
  width: 100vw;
  height: 40vh;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.theme-vaporwave .banner .hero div {
  position: absolute;
  background-color: rgba(218,133,219, 1);
  background: 
    linear-gradient(0deg, rgba(14,12,162,.75) 0%, rgba(76,57,184,.75) 24%, rgba(218,133,219,.75) 88%) no-repeat,
    linear-gradient(rgb(68, 76, 247, .75) 1px, transparent 1px) repeat, 
    linear-gradient(to right, rgb(68, 76, 247, .75) 1px, transparent 1px) repeat;
  background-size: 
    cover, 
    40px 40px, 
    40px 40px;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  -webkit-transform: rotateX(90deg) translateZ(100px);
          transform: rotateX(90deg) translateZ(100px);
          
}

.theme-space .banner {
	background-image: url("../images/banner-bg.png");
	color: #fff
}

.theme-space .banner p {
	background-color: #000;
}

.theme-space .banner h1 {
	font-family: var(--title-font-primary);
	background-color: #000;
}

.theme-space .banner .stars {
	--x: 0;
  --y: 0;
  --d: 50;
	position: relative;
	height: 100%;
	background-image: url("../images/banner-stars.png");
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;	
}

.theme-default .banner {
  position: relative;
  background-color: #01031A;
	color: var(--card-color);
}

.theme-default .banner .hero {
	display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
	height: 100%;
	width: 100%;
	text-align: center;
	overflow: hidden;
  background: 
    radial-gradient(
      farthest-side at top left,
      rgb(37, 0, 255, 0.5),
      transparent 800px
    ),
    radial-gradient(
      farthest-corner at bottom right,
      rgb(218, 0, 255, 0.5),
      transparent 1000px
    );
}

.theme-default .banner .neon-lights-top,
.theme-default .banner .neon-lights-bot {
  position: absolute;
  background-size: contain;
  height: 50%;
}

@media (min-width: 1200px) { 
  .theme-default .banner .neon-lights-top,
  .theme-default .banner .neon-lights-bot {
    height: 70%;
  }
}

.theme-default .banner .neon-lights-top {
  top: 0;
  left: 0;
  -webkit-filter: drop-shadow(0 0 7px #00CFFF);
  filter: drop-shadow(0 0 7px #00CFFF);
}

.theme-default .banner .neon-lights-bot {
  bottom: 0;
  right: 0;
  background-position: right bottom;
  -webkit-filter: drop-shadow(0 0 7px #DA00FF);
  filter: drop-shadow(0 0 7px #DA00FF);
}

.theme-default .banner .hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  background-color: #1D1E22;
  box-shadow: .8rem .8rem #000;
}

.theme-default .banner .hero-text h1 {
  font-family: var(--title-font-secondary);
  color: var(--card-color);
  text-shadow: 3px 3px #000;
}

.theme-space .banner .hero {
	display: flex;
	position: absolute;
	top: 0;
  justify-content: center;
  align-items: center;
	height: 100%;
	width: 100%;
	text-align: center;
	overflow: hidden;
	background-image: url("../images/planets.png");
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
}

@media screen and (max-width: 767px) {
	.banner .hero {
    flex-direction: column;
	}
}

.theme-space .banner .stars { 
	-webkit-animation: .5s ease 0s normal forwards 1 fadeIn;
	animation: .5s ease 0s normal forwards 1 fadeIn;
}

@media (hover: hover) {
  .theme-space .banner:hover .stars {
    transform: scale(1.025) translate(calc(var(--x) / var(--d) * 1px), calc(var(--y) / var(--d) * 1px));
  }
}

.theme-space .hero-img-wrapper {
	overflow: visible;
  -webkit-animation: ease-in-out 3s infinite floating;
	animation: ease-in-out 3s infinite floating;
}

@media screen and (max-width: 479px) {
	.theme-space .hero-img-wrapper {
		-webkit-transform: scale(.5);
		transform: scale(.5);
	}
}

@media screen and (max-width: 767px) {
	.theme-space .hero-img-wrapper {
		-webkit-transform: scale(.75);
		transform: scale(.75);
	}

  .theme-space .hero-img-wrapper .hero-img { width: 50%; }
}

.theme-space .hero-img {
  width: 100%;
}

/***************************/
/****** about section ******/
/***************************/

#about h1 {
  font-family: var(--title-font-primary);
  font-size: 4rem;
  color: var(--card-color);
  text-shadow: 6px 6px #000;
}

#about h4 {
  font-family: var(--title-font-secondary);
  font-size: 2.5rem;
}

.theme-space #about h1,
.theme-space #about h4 {
  font-family: var(--title-font-secondary);
}

.theme-default #about {
  margin-top: 3rem;
  margin-bottom: -3rem
}

@media (min-width: 992px) { 
  .theme-default #about { margin-bottom: -8rem }
 }

@media (min-width: 1400px) { 
  .theme-default #about { margin-bottom: -15rem }
}

.theme-space #about {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .theme-space #about .row {
    width: 90%
  }
}

.theme-default .about-image {
  display: none;
}

.theme-space .about-image {
  display: flex;
  width: 100%
}

@media screen and (min-width: 1500px) {
  .theme-space .about-image {
    width: 75%
  }
}

.theme-default #about .card:first-child { margin-bottom: 2rem }

.theme-default ul.socials {
  border-radius: 2px;
  border: 1px solid #111;
  border-color: #111 #323232 #323232 #111;
}

.theme-space  ul.socials,
.theme-space  ul.socials li {
  color: var(--card-color);
  background: var(--card-bg);
  border-color: #111;
}

.theme-default ul.socials li {
  color: var(--card-color);
  background: rgb(28,28,28);
  background: linear-gradient(0deg, rgba(28,28,28,1) 50%, rgba(31,31,31,1) 50%);
  border-color: #111;
}

ul.socials li:hover {
  filter: brightness(1.5);
  transition: var(--t1); }

ul.socials li h6 {
  color: var(--card-color)
}

ul.socials li a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%
}

ul.socials li a:link,
ul.socials li a:visited {
  font-weight: bold;
  color: #a235fc;
  text-decoration: none;
  transition: color .2s ease-in-out
}

ul.socials li:nth-child(2n) a:link,
ul.socials li:nth-child(2n) a:visited {
  color: #ca89ff;
}

ul.socials li:nth-child(3n) a:link,
ul.socials li:nth-child(3n) a:visited {
  color: #dfb8ff;
}
           
ul.skills {
  width: 100%;
  position: relative;
  padding: 25px 35px;
/* background: linear-gradient(0deg, #2187e7 0 10px,	#222 0 calc(100% - 10px), #2187e7 0 100%); */ }
  /* ul.skills:before {
    content: "Skills";
    text-transform: uppercase;
    position: absolute;
    top: -75px;
    height: 50px;
    color: #fff;
    background-color: #2187e7;
    background-position: 0 50%;
    width: 100%;
    left: 0;
    padding: 15px 15px 0 0;
    text-align: end;
    font-weight: 600;
    z-index: 1;
    transition: var(--t1);
    font-size: 50px;
    line-height: 35px;
    transform: scaleY(1.65); }
  ul.skills:after {
    content: "";
    position: absolute;
    border: 40px solid #fff0;
    border-top-color: #2187e7;
    top: -30px;
    left: 10px;
    z-index: 0;
    transition: var(--t1);
    filter: drop-shadow(0 11px 0.1px #fff); } */

ul.skills li {
  --per: 50;
  --dur: calc(calc(var(--per) / 100) * 1.5s);
  margin: 0 0 5px 0;
  list-style: none;
  padding: 0 0 40px 0;
  position: relative;
  text-transform: uppercase;
  font-size: 15px;
  color: #eee; }
    ul.skills li:hover {
      filter: brightness(1.5);
      transition: var(--t1); }

ul.skills li div:first-child {
  font-family: var(--title-font-primary);
  font-size: 1.6rem
}

ul.skills li span:before {
  content: "";
  position: absolute;
  right: -10px;
  top: 50px;
  transition: var(--t1);
  border: 7px solid #fff0;
  z-index: 1;  }
    ul.skills li:hover span:before {
      transition: var(--t1);
      right: calc(calc(calc(100 - var(--per)) * 1%) - 12px);
      opacity: 1; }
        ul.skills li:hover span:has(.equalizer .skill-percent.red):before {
          border-right-color: #FF0000; }
        ul.skills li:hover span:has(.equalizer .skill-percent.pink):before {
          border-right-color: #DA00FF; }
        ul.skills li:hover span:has(.equalizer .skill-percent.purple):before {
          border-right-color: #7E0FFF; }
        ul.skills li:hover span:has(.equalizer .skill-percent.blue):before {
          border-right-color: #2500FF; }
        ul.skills li:hover span:has(.equalizer .skill-percent.green):before {
          border-right-color: #53FF4B; }
        ul.skills li:hover span:has(.equalizer .skill-percent.cyan):before {
          border-right-color: #00CFFF; }

ul.skills li span:after {
  position: absolute;
  right: -40px;
  top: 42px;
  transition: var(--t1);
  counter-reset: percent var(--per);
  content: counter(percent);
  color: #222;
  opacity: 1 !important;
  padding: 4px 6px;
  border-radius: 1px;
  font-weight: bold;
  pointer-events: none;
  z-index: 2; }
    ul.skills li:hover span:after {
      transition: var(--t1);
      right: calc(calc(85 - var(--per)) * 1%);
      right: calc(calc(calc(100 - var(--per)) * 1%) - 40px);
      opacity: 1; }
        ul.skills li:hover span:has(.equalizer .skill-percent.red):after {
          background: #FF0000; }
        ul.skills li:hover span:has(.equalizer .skill-percent.pink):after {
          background: #DA00FF; }
        ul.skills li:hover span:has(.equalizer .skill-percent.purple):after {
          background: #7E0FFF; }
        ul.skills li:hover span:has(.equalizer .skill-percent.blue):after {
          background: #2500FF;
          color: #fff; }
        ul.skills li:hover span:has(.equalizer .skill-percent.green):after {
          background: #53FF4B; }
        ul.skills li:hover span:has(.equalizer .skill-percent.cyan):after {
          background: #00CFFF; }

.equalizer {
  content: "";
  position: absolute;
  background: rgb(28,28,28);
  background: linear-gradient(0deg, rgba(28,28,28,1) 50%, rgba(31,31,31,1) 50%);
  height: 40px;
  width: 100%;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  border: 1px solid #111;
  border-color: #111 #323232 #323232 #111;
}

.skill-percent {
  height: 100%;
  width: calc(calc(var(--per) * 1%) - 2px);
  overflow: hidden;
  background-position: center;
  background-size:contain
}

.skill-percent.red {
  background-image: url('../images/default/equalizer-red.gif'); }
.skill-percent.pink {
  background-image: url('../images/default/equalizer-pink.gif'); }
.skill-percent.purple {
  background-image: url('../images/default/equalizer-purple.gif'); }
.skill-percent.blue {
  background-image: url('../images/default/equalizer-blue.gif'); }
.skill-percent.green {
  background-image: url('../images/default/equalizer-green.gif'); }
.skill-percent.cyan {
  background-image: url('../images/default/equalizer-cyan.gif'); }

ul.skills li.skill-html { --per: 100; }
ul.skills li.skill-javascript { --per: 95; }
ul.skills li.skill-bootstrap { --per: 100; }
ul.skills li.skill-react { --per: 98; }
ul.skills li.skill-node { --per: 90; }
ul.skills li.skill-mongo { --per: 85; }
ul.skills li.skill-sql { --per: 84; }
ul.skills li.skill-python { --per: 70; }



/*** Mobile view disabled to get (almost) the desired thumbnail ***/
/*** Uncomment below code to add the media query for mobile view ***/

/*
@media only screen and (max-width: 768px) {
  .content { height: 60vh; }
  .profile-skills {
    flex-direction: row;
    flex-wrap: wrap;
    top: 20px;
  }
  .profile-skills > div {
    width: 98% !important;
  }
  .profile-skills > div:nth-child(2), 
  .profile-skills > div:nth-child(3) {
    margin-top: 120px;
  }
  ul.skills li:after {
    width: calc(calc(var(--per) * 1%) - 2px);
  }
  ul.skills li span:before {
    transition: var(--t1);
    right: calc(calc(96.5 - var(--per)) * 1%);
    opacity: 1;
    border-right-color: #2187e7;
  }
  ul.skills2 li span:before {
    border-right-color: #9acd32;
  }
  ul.skills3 li span:before {
    border-right-color: #ff4500;
  }
  ul.skills li span:after {
    transition: var(--t1);
    right: calc(calc(calc(100 - var(--per)) * 1%) - 40px);
    opacity: 1;
    background: var(--c1);
  }
}
*/

/***************************/
/****** work section ******/
/***************************/

#work {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
}

#work h1 {
  color: var(--card-color);
  font-family: var(--title-font-secondary);
  font-size: 4.4rem;
  text-align: center
}

.theme-default #work {
  background-color: #0a0a0a
}

.theme-default .work-divider-top {
  margin-bottom: -5px }
.theme-default .work-divider-bot {
  margin-top: -5px }

/***************************/
/***** contact section *****/
/***************************/

#contact {
	display: flex;
  justify-content: center;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
}

.theme-default #contact {
  margin-top: -2rem;
  margin-bottom: 3rem
}

@media (min-width: 1200px) { 
  .theme-default #contact { margin-top: -6rem; }
}

.theme-space #contact .card {
  align-items: center;
}

#contact .card .card-body {
  flex-direction: column;
  align-items: center;
}

#contact .card .card__image {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 5px solid #272133;
  background-color: rgb(0,0,0,.2);
  margin-top: 20px;
  box-shadow: 0 0 50px rgb(151, 25, 235);
  object-fit: scale-down;
}

.card-title {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  font-weight: bold;
  letter-spacing: .4rem;
	height: fit-content;
}

.contact-title-img {
  object-fit: cover
}

.theme-default .card-title {
  font-family: "Dimitri", sans-serif;
  font-size: 3rem;
  color: #fff;
  text-shadow:6px 6px #000 
}

.theme-space .card-title {
  font-family: var(--title-font-primary);
  font-size: 2rem;
  color: #fff;
  text-shadow:6px 6px #000 
}

.theme-default .contact-title-img {
  height: 20vh
}

.theme-space .contact-title-img:not(.flip) {
  -webkit-animation: leftpeace 4s .1s ease-in-out infinite;
     -moz-animation: leftpeace 4s .1s ease-in-out infinite;
          animation: leftpeace 4s .1s ease-in-out infinite;
}


.theme-space .contact-title-img {
  height: 100px;
  -webkit-transform-origin: bottom right 4px;
     -moz-transform-origin: bottom right 4px;
          transform-origin: bottom right 4px;
}

.theme-space .contact-title-img.flip {
  -webkit-animation: rightpeace 4s .1s ease-in-out infinite;
     -moz-animation: rightpeace 4s .1s ease-in-out infinite;
          animation: rightpeace 4s .1s ease-in-out infinite;
}

.flip {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

/***************************/
/********* COMPONENTS ******/
/***************************/

/***************************/
/*********** cards *********/
/***************************/

.theme-space .card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-clip: border-box;
  border: 0;
}

.theme-space .card {
	color: var(--card-color);
	background-color: var(--card-bg);
	border-radius: var(--card-radius);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

/* .theme-default .card .card-body:not(.slide *) {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #222222;
  border-radius: 16px;
  z-index: 1;
  position: relative;
  border: 3px solid transparent;
  background-clip: padding-box;
  text-align: center;
  color: #f1f3f3;
  background-image: linear-gradient(135deg, rgba(117, 46, 124, 0.35), rgba(115, 74, 88, 0.1) 15%, #222222 20%, #222222 100%);
}

.theme-default .card .card-body:not(.slide *)::before {
  content: "";
  display: block;
  top: -3px;
  left: -3px;
  bottom: -3px;
  right: -3px;
  z-index: auto;
  position: absolute;
  border-radius: 16px;
  background-image: linear-gradient(135deg, #752e7c, #734a58 20%, #222222 30%, #2c333e 100%);
} */

.theme-default .card:not(.slide .card) {
  text-align: center;
  color: var(--card-color);
  background-color: var(--card-bg);
  border-radius: var(--card-radius);
  border: 0;
  box-shadow: -5px -5px 9px rgba(75, 75, 75, 0.45), 5px 5px 9px rgba(0,0,0,0.3);
}

.theme-default .slide .card {
  position: relative;
  background-color: var(--card-bg);
  border-radius: var(--card-radius);
  animation: textColor 10s ease infinite;
}

.theme-default .slide .card .card-body {
  background-color: var(--card-bg);
  width: 100%;
  border-radius: var(--card-radius);
}

.theme-default .slide .card::after {
  position: absolute;
  content: "";
  top: 3vw;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.75);
  -webkit-filter: blur(5vw);
  -moz-filter: blur(5vw);
  -ms-filter: blur(5vw);
  filter: blur(5vw);
  background: linear-gradient(270deg, #0fffc1, #7e0fff);
  background-size: 200% 200%;
  animation: animateGlow 10s ease infinite;
}

/***************************/
/******* buttons *******/
/***************************/

.btn {
  overflow: hidden;
  cursor: pointer;
  position: relative;
  z-index: 10;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
  border: none;
  padding: 0 16px;
  white-space: nowrap;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  color: #ddd;
  background-image: none;
  background-color: #6f42c1;

-webkit-border-radius: 2px;
   -moz-border-radius: 2px;
        border-radius: 2px;

-webkit-box-shadow: none;
   -moz-box-shadow: none;
        box-shadow: none;

-webkit-transition: all 0.2s ease;
   -moz-transition: all 0.2s ease;
     -o-transition: all 0.2s ease;
        transition: all 0.2s ease;

-ms-touch-action: manipulation;
    touch-action: manipulation;

-webkit-user-select: none;
   -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;

-webkit-backface-visibility: hidden;
        backface-visibility: hidden;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
}

.btn:hover,
.btn:focus,
.btn.focus {
  color: #fff;
  background-color: #a235fc;
  text-decoration: none;
}

.btn:active,
.btn.active,
.btn:first-child:active {
  color: #dddddd;
  background-color: #7e19d1;
  outline: 0;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.theme-default .btn {
  border-radius: 30px;
}

/***************************/
/********* inputs **********/
/***************************/

.card .input-container {
  position: relative;
}

.card input,
.card textarea {
  z-index: 1;
  position: relative;
  width: 100%;
  padding-top: 1rem;
  border: 0;
  font-size: 1.2rem;
  font-weight: 400;
}

.card input:focus,
.card textarea:focus
.card .form-control:focus {
  outline: none !important;
}

.theme-default .form-control {
  height: 3.3rem;
  padding: 0.5rem 3.5rem;
  background: rgb(28,28,28);
  background: linear-gradient(0deg, rgba(28,28,28,1) 50%, rgba(31,31,31,1) 50%);
  border: 1px solid #111;
  border-color: #111 #323232 #323232 #111;
  border-radius: 2rem;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
}

.theme-default .form-control:focus {
  color: var(--card-color);
  background-color: #f2f6f8;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
}

.theme-default input::placeholder {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  color: #57565c;
  position: relative;
  left: 0;
}

.theme-default input,
.theme-default textarea {
  font-family: "Quicksand", sans-serif;
  color: #fff;
  font-size: 1.1rem;
}

.theme-default .label {
  display: none;
}

.theme-default .input-container .icon {
  color: #57565c;
  height: 1.3rem;
  position: absolute;
  left: 1.5rem;
  top: 1.1rem;
  z-index: 10;
  transition: var(--t1)
}

.theme-default .form-control:focus + label .icon,
.theme-default .form-control:valid + label .icon {
  color: #6f42c1;
}

.theme-default .form-control:not(:focus):not(:placeholder-shown):invalid + label .icon {
  color: #FF0000;
}

.theme-space .input-container {
  margin: 0 60px 50px;
}

.theme-space .form-control {
  background: none;
  color: #fff;
  border: none;
  box-shadow: none;
}

.theme-space .contact-form .form-control::placeholder {
  color: transparent;
}

.theme-space .form-control:focus ~ label,
.theme-space .form-control:valid ~ label,
.theme-space .form-control:not(:placeholder-shown) ~ label {
  color: #ddd;
  transform: translate(-12%, -50%) scale(0.75);
}

.theme-space .form-control:focus ~ .bar:before, 
.theme-space .form-control:focus ~ .bar:after,
.theme-space .form-control:valid ~ .bar:before, 
.theme-space .form-control:valid ~ .bar:after {
  width: 50%;
}

.theme-space .input-container label {
  position: absolute;
  top: 0;
  left: 0;
  color: #999999;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 60px;
  transition: 0.2s ease;
}

.theme-space .input-container .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #999999;
  width: 100%;
  height: 1px;
}

.theme-space .input-container .bar:before, 
.theme-space .input-container .bar:after {
  content: "";
  position: absolute;
  background: #6f42c1;
  width: 0;
  height: 2px;
  transition: 0.2s ease;
}

.theme-space .form-control:focus:not(:placeholder-shown):invalid ~ .bar:before, 
.theme-space .form-control:focus:not(:placeholder-shown):invalid ~ .bar:after {
  background: #6f42c1
}

/* placeholder shown = input is empty
   not:placeholder shown = input is full 
   "if input is full, input is being focused, and input is invalid, show purple bar*/
.theme-space .form-control:invalid + .bar:before,
.theme-space .form-control:invalid + .bar:after,
.theme-space .form-control:not(:placeholder-shown):invalid ~ .bar:before, 
.theme-space .form-control:not(:placeholder-shown):invalid ~ .bar:after {
  background: #FF0000;
  transition: 0.2s ease;
  width: 50%;
}

.theme-space .input-container .bar:before {
  left: 50%;
}

.theme-space .input-container .bar:after {
  right: 50%;
}

/***************************/
/********* slider **********/
/***************************/

.visuallyhidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

.slider-btn {
  background-color: var(--color-primary);
  border: none;
  border-radius: 0.125rem;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding: 1rem 2.5rem 1.125rem;
}

.slider-btn:focus {
  outline-color: var(--color-focus);
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 3px;
}

.slider-btn:active {
  transform: translateY(1px);
}

.slider__controls {
  display: flex;
  justify-content: center;
  position: absolute;
  top: calc(100% + 1rem);
  width: 100%;
}

.slider__controls .slider-btn {
  --size: 3rem;
  align-items: center;
  background-color: transparent;
  border: 3px solid transparent;
  border-radius: 100%;
  display: flex;
  height: var(--size);
  padding: 0;
  width: var(--size);
}

.slider__controls .slider-btn:focus {
  outline: none;
}

.slider__controls .slider-btn--previous > * {
  transform: rotate(180deg);
}

.slider__controls .slider-btn .icon {
  fill: rgb(111, 66, 193);
}

.slider {
  --slide-size: 70vmin;
  --slide-margin: 4vmin;
  --base-duration: .2s;
  height: var(--slide-size);
  margin: 0 auto;
  position: relative;
  width: var(--slide-size);
  margin-bottom: calc(1rem + 48px)
}

.slider__wrapper {
  display: flex;
  margin: 0 calc(var(--slide-margin) * -1);
  position: absolute;
  transition: transform .2s cubic-bezier(0.25, 1, 0.35, 1);
}

.slide {
  color: white;
  display: flex;
  flex: 1;
  height: var(--slide-size);
  width: var(--slide-size);
  justify-content: center;
  margin: 0 var(--slide-margin);
  opacity: 0.25;
  position: relative;
  text-align: center;
  transition: opacity calc(.2s / 2) ease, transform calc(.2s / 2) ease;
  z-index: 1;
}

.slide--previous:hover, .slide--next:hover {
  opacity: 0.5;
}

.slide--previous {
  cursor: w-resize;
}

.slide--previous:hover {
  transform: translateX(2%);
}

.slide--next {
  cursor: e-resize;
}

.slide--next:hover {
  transform: translateX(-2%);
}

.slide--current {
  opacity: 1;
  pointer-events: auto;
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
          user-select: auto;
}
@media (hover: hover) {
  .slide--current:hover .card {
    transform: scale(1.025);
    transition: transform calc(.2s / 2) ease;
  }
}

.slide .card {
  width: 100%
}

.slide__image-wrapper {
  background-color: var(--color-accent);
  height: 100%;
  width: 100%;
  overflow: hidden;
  transition: transform calc(.2s / 4) ease;
}

.slider ul {
  padding-left: 0;
}

.slide__image {
  height: 100%;
  width: 100%;
  border-top-left-radius: .33rem;
  border-top-right-radius: .33rem;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  pointer-events: none;
  transition: opacity .2s ease, transform .2s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.theme-default .slide__image {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.slide__headline {
  font-size: 8vmin;
  font-weight: 600;
  position: relative;
}

.slide__content {
  opacity: 0;
  padding: 4vmin;
  position: relative;
  transition: transform .2s ease;
  visibility: hidden;
}

.slide--current .slide__content {
  -webkit-animation: fadeIn calc(.2s / 2) ease forwards;
          animation: fadeIn calc(.2s / 2) ease forwards;
  visibility: visible;
}

.slide__content > * + * {
  margin-top: 2rem;
}

/***************************/
/******** progress *********/
/***************************/

.progress-title {
  font-size: 18px;
  font-weight: 700;
  color: #1c2647;
  margin: 0 0 10px;
}

.progress {
  height: 20px;
  background: #fff;
  border-top: 5px solid #1c2647;
  border-bottom: 5px solid #1c2647;
  border-radius: 0;
  margin-bottom: 25px;
  overflow: visible;
  position: relative;
}

.progress:before,
.progress:after {
  content: "";
  width: 5px;
  background: #1c2647;
  position: absolute;
  top: 0;
  left: -5px;
  bottom: 0;
}

.progress:after {
  left: auto;
  right: -5px;
}

.progress .progress-bar {
  border: none;
  box-shadow: none;
  -webkit-animation: 2s linear 0s normal none infinite running progress-bar-stripes,animate-positive 1s;
  animation: 2s linear 0s normal none infinite running progress-bar-stripes,animate-positive 1s;
}

.progress-bar {
  background-color: #6f42c1
}

/***************************/
/****** theme changer ******/
/***************************/

.theme-changer {
  position: fixed;
  right: 0;
  bottom: 30px;
  z-index: 9;
  padding: 5px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9);
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/***************************/
/********* footer **********/
/***************************/

.theme-space footer {
  background-color: #000;
  font-size: 1.6rem;
  font-weight: bold
}

.theme-default .footer-divider {
  margin-bottom: -5px;
}

.theme-default footer {
  color: #fff;
  background-color: #7E0FFF;
  font-size: 1.6rem;
  font-weight: bold
}

.footer-heart {
  display: inline-block;
  animation: heartBeat 1.5s infinite;
}

/***************************/
/******* animations ********/
/***************************/

@-webkit-keyframes leftpeace {
  0% { transform: rotate(0); }
  10% { transform: rotate(-20deg);}
  20% { transform: rotate(0);}
  30% { transform: rotate(-20deg);}
  40% { transform: rotate(0);}
  100% { transform: rotate(0); }
}

@-moz-keyframes leftpeace {
  0% { transform: rotate(0); }
  10% { transform: rotate(-20deg);}
  20% { transform: rotate(0);}
  30% { transform: rotate(-20deg);}
  40% { transform: rotate(0);}
  100% { transform: rotate(0); }
}

@keyframes leftpeace {
  0% { transform: rotate(0); }
  10% { transform: rotate(-20deg);}
  20% { transform: rotate(0);}
  30% { transform: rotate(-20deg);}
  40% { transform: rotate(0);}
  100% { transform: rotate(0); }
}

@-webkit-keyframes rightpeace {
  0% { transform: scaleX(-1) rotate(0); }
  10% { transform: scaleX(-1) rotate(-20deg);}
  20% { transform: scaleX(-1) rotate(0);}
  30% { transform: scaleX(-1) rotate(-20deg);}
  40% { transform: scaleX(-1) rotate(0);}
  100% { transform: scaleX(-1) rotate(0); }
}

@-moz-keyframes rightpeace {
  0% { transform: scaleX(-1) rotate(0); }
  10% { transform: scaleX(-1) rotate(-20deg);}
  20% { transform: scaleX(-1) rotate(0);}
  30% { transform: scaleX(-1) rotate(-20deg);}
  40% { transform: scaleX(-1) rotate(0);}
  100% { transform: scaleX(-1) rotate(0); }
}

@keyframes rightpeace {
  0% { transform: scaleX(-1) translate(90px) rotate(0); }
  10% { transform: scaleX(-1) translate(90px) rotate(-20deg);}
  20% { transform: scaleX(-1) translate(90px) rotate(0);}
  30% { transform: scaleX(-1) translate(90px) rotate(-20deg);}
  40% { transform: scaleX(-1) translate(90px) rotate(0);}
  100% { transform: scaleX(-1) translate(90px) rotate(0); }
}

@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes textColor {
  0% {
    color: #7e0fff;
  }
  50% {
    color: #0fffc1;
  }
  100% {
    color: #7e0fff;
  }
}

@-webkit-keyframes animate-positive{
  0% { width: 0; }
}

@keyframes animate-positive{
  0% { width: 0; }
}

@-webkit-keyframes fadeIn {
	0% { opacity:0; }
	66% { opacity:0; }
	100% { opacity:1; }
}

@keyframes fadeIn {
	0% { opacity:0; }
	66% { opacity:0; }
	100% { opacity:1; }
}

@-webkit-keyframes floating {
	0% {
    -webkit-transform: translate(0,  0px);
    transform: translate(0,  0px); 
  }
	50% { 
    -webkit-transform: translate(0, 15px); 
    transform: translate(0, 15px); 
  }
	100% { 
    -webkit-transform: translate(0, -0px); 
    transform: translate(0, -0px); 
  }    
}

@keyframes floating {
	0% {
    -webkit-transform: translate(0,  0px);
    transform: translate(0,  0px); 
  }
	50% { 
    -webkit-transform: translate(0, 15px); 
    transform: translate(0, 15px); 
  }
	100% { 
    -webkit-transform: translate(0, -0px); 
    transform: translate(0, -0px); 
  }   
}

@-webkit-keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  14% {
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
  }
  28% {
      -webkit-transform: scale(1);
      transform: scale(1);
  }
  42% {
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
  }
  70% {
      -webkit-transform: scale(1);
      transform: scale(1);
  }
}

@keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  14% {
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
  }
  28% {
      -webkit-transform: scale(1);
      transform: scale(1);
  }
  42% {
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
  }
  70% {
      -webkit-transform: scale(1);
      transform: scale(1);
  }
}